        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            color: #333;
            background-color: #161819;
        }
        header {
            background: linear-gradient(to right, #d3eed4, #042f05);
            color: white;
            padding: 50px 20px;
            text-align: center;
        }
        header h1 {
            margin: 10;
            font-size: 3em;
        }
        header p {
            font-size: 1.2em;
        }
        section {
            padding: 60px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .facilities, .services, .plans {
            margin-bottom: 40px;
        }
        .facilities h2, .services h2, .plans h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #69dc97;
        }
        .facility-grid, .service-grid, .plan-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }
        .facility-item, .service-item, .plan-item {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-align: center;
            transition : transform 200ms ease, box-shadow 200ms, ease;
        }
        .facility-item:hover, .service-item:hover, .plan-item:hover {
            transform: translateY(-8px) scale(1.02);
            box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        }
        .plan-item h3 {
            color: #044906;
        }
        .plan-item ul {
            list-style: none;
            padding: 0;
        }
        .plan-item li {
            margin: 10px 0;
        }
        .cta {
            background: #4CAF50;
            color: white;
            padding: 10px;
            text-decoration: italic;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
            transition: background-color 200ms ease-in;
        }
        .cta:hover {
            background-color: #3e8e41;
            transform: translateY(-3px);
        }
        footer {
            background: #242020;
            color: rgb(237, 217, 217);
            text-align: center;
            padding: 20px;
        }
        @media (max-width: 768px) {
            header h1 {
                font-size: 2em;
            }
            .facility-grid, .service-grid, .plan-grid {
                grid-template-columns: 10fr;
            }
            footer{
                font-size: 1em;
            }
        }